.TodoWrapper {
  background-color: rgba(9, 82, 67, 0.73);
  border-radius: 10px;
  width: 500px; /* Adjust as necessary */
  max-width: 1500px;
  position: fixed; /* Change to fixed */
  top: 80px; /* Adjust top position */
  left: 16%;
  overflow-y: auto; /* Add overflow for scrolling */
  max-height: calc(100vh - 100px); /* Set max-height to fit within viewport */
  box-shadow: 0 0 10px rgba(1, 10, 10, 0.1);
  padding: 3rem 3rem 7.141rem;
  font-family: Georgia;
  font-weight: normal;
  min-height: 795px;
  max-height: 820px;
}

.TodoWrapper.sidebar-closed {
  background-color: rgba(9, 82, 67, 0.73);
  border-radius: 10px;
  width: 500px; /* Adjust as necessary */
  max-width: 1500px;
  position: fixed; /* Change to fixed */
  top: 80px; /* Adjust top position */
  left: 10%;
  overflow-y: auto; /* Add overflow for scrolling */
  max-height: calc(100vh - 100px); /* Set max-height to fit within viewport */
  box-shadow: 0 0 10px rgba(1, 10, 10, 0.1);
  padding: 3rem 3rem 7.141rem;
  font-family: Georgia;
  font-weight: normal;
  min-height: 795px;
  transition: 0.6s ease;
}

.PieChartWrapper {
  background: transparent;
  backdrop-filter: blur(30 pxpx);
  padding: 0.2rem 4rem;
  border-radius: 10px;
  width: 400px; /* Adjust as necessary */
  max-width: 650px;
  position: fixed; /* Fixed position */
  top: 80px; /* Aligns with the TodoWrapper */
  left: 60%; /* Adjust as necessary to position it near the TodoWrapper */
  margin-top: 0;
  margin-left: 0;
  max-height: calc(100vh - 100px); /* Set max-height to fit within viewport */
  box-shadow: 1px 0px 3px 3px rgba(9, 82, 67, 0.73);
  height: 295px;
}

.DoughnutChartWrapper {
  background: transparent;
  backdrop-filter: blur(30 pxpx);
  padding: 0.3rem 4rem;
  border-radius: 10px;
  width: 400px; /* Adjust as necessary */
  max-width: 650px;
  position: fixed; /* Fixed position */
  top: 480px; /* Aligns with the TodoWrapper */
  left: 60%; /* Adjust as necessary to position it near the TodoWrapper */
  margin-top: -80px;
  margin-left: 0;

  box-shadow: 1px 0px 3px 3px rgba(9, 82, 67, 0.73);
  height: 295px;
}

.download-button {
  position: fixed;
  top: 650px;
  right: 100px;
  background: rgba(1, 40, 33, 0.73);
  color: rgb(255, 255, 255);

  border-radius: 5px;
  padding: 0.3rem;
  cursor: pointer;
}

.nutrition-labels {
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 23px;
  font-weight: inherit;
  color: rgb(12, 12, 12);
  text-decoration: underline;
  background-color: rgba(30, 255, 211, 0.27);
  border-radius: 2px;
  box-shadow: 0px 0px 3px 3px rgba(30, 255, 211, 0.7);
}
.nutrition-labels1 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 19px;
  font-weight: inherit;
  color: rgb(12, 12, 12);
  text-decoration: underline;
  background-color: rgba(30, 255, 211, 0.27);
  border-radius: 2px;
  box-shadow: 0px 0px 3px 3px rgba(30, 255, 211, 0.7);
}

.searchInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  box-shadow: 1px 0px 3px 3px rgba(9, 82, 67, 0.73);
}

.suggestion-item {
  padding: 5px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: rgb(255, 255, 255);
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #ffffff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #ffffff;
  box-shadow: 1px 0px 3px 3px rgba(9, 82, 67, 0.73);
}

.todo-input::placeholder {
  color: #ffffff;
}

.todo-btn {
  background: rgba(30, 255, 211, 0.27);
  color: #fff;
  margin-left: 10px;
  border-radius: 5px;
  padding: 0.3rem;
  cursor: pointer;
  box-shadow: 1px 0px 3px 3px rgba(9, 82, 67, 0.73);
}

.delete-btn {
  background: #f10505;
  color: #f1eeee;
  padding: 2rem;
  cursor: pointer;
  margin-left: 15px;
}

.list-item {
  color: #f1eeee;
  cursor: pointer;
}

.list-item:hover {
  background-color: rgba(30, 255, 211, 0.27);
  color: #ffffff;
  border: 1px solid #28a745;
}

.suggestions-container {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.suggestion-item {
  padding: 3px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.increase-btn,
.decrease-btn,
.delete-btn {
  background-color: #28a745;
  border: none;
  color: white;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

.decrease-btn {
  background-color: #ffc107;
}

.delete-btn {
  background-color: #f10505;
}

.Welcome-Completion-GraphsFoodLog {
  margin-top: 37px;
}

@media (max-width: 768px) {
  .Welcome-Completion-GraphsFoodLog {
    visibility: hidden;
  }
  .TodoWrapper {
    background-color: rgba(9, 82, 67, 0.73);
    border-radius: 10px;
    width: 295px; /* Adjust as necessary */
    position: fixed; /* Change to fixed */
    top: 10px; /* Adjust top position */
    left: 40%;
    box-shadow: 0 0 10px rgba(1, 10, 10, 0.1);
    font-family: Georgia;
    font-weight: normal;
    z-index: 3;
  }
  .DoughnutChartWrapper {
    visibility: hidden;
  }
  .PieChartWrapper {
    visibility: hidden;
  }
  .searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 1px 0px 3px 3px rgba(9, 82, 67, 0.73);
  }
  .download-button {
    visibility: hidden;
  }

  .input-date {
    position: fixed;
    top: 140px;
    left: 140px;
    margin-bottom: 20px;
  }
  .nutrition-labels1 {
  }

  .nutrition-labels {
    margin-top: 50px;
  }

  .suggestion-item {
    padding: 5px;
    cursor: pointer;
    z-index: 99;
  }
}
