.profile-wrapper {
  width: 480px;
  background: rgba(1, 40, 33, 0.73);
  border: 5px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
  text-align: center;
  position: relative;
  margin-top: -87px;
  margin-left: 50px;
}

.profile-wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

profile-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.profile-wrapper .input-box input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.highlighted {
  border-color: #28a745 !important;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

button[disabled] {
  background-color: #6c757d;
  cursor: not-allowed;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.profile-wrapper .input-box label {
  display: block;
  font-size: 16px;
  color: white;
}

@media (max-width: 768px) {
  .profile-wrapper {
    width: 290px;
    background: rgba(1, 40, 33, 0.73);
    border: 5px solid rgba(255, 255, 255, 0.2);

    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    text-align: center;
    position: relative;
    margin-top: -37px;
    margin-left: 225px;
  }
  .profile-wrapper .input-box input:focus {
    border-color: #007bff;
  }
  .highlighted {
    border-color: #28a745 !important;
  }
}
