* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #78f4b5;
  font-family: -apple-system, serif;
  font-size: 16px;
}

.register-wrapper {
  width: 480px;
  background: rgba(1, 40, 33, 0.73);
  border: 5px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
  text-align: center;
  position: relative;
  margin-top: -30px;
  margin-left: 50px;
}

.logo-container {
  position: center;
  padding: 30px 0; /* Adjust padding for smaller screens */
  text-align: center;
  margin-top: -190px;
}

.logo {
  width: 155px;
}

.register-wrapper h1 {
  font-size: 30px;
  text-align: center;
}

.register-wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0; /* Adjust margin for smaller screens */
}

.drop-down {
  position: relative;
  width: calc(100% - 40px); /* Adjust input width for icon */
  height: 50px;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding: 10px 13px 16px 40px; /* Adjust padding for smaller screens */
  box-sizing: border-box; /* Ensure padding and border are included in width */

  z-index: 1;
}
.drop-down .p-dropdown {
  width: 100%;
  height: 50px;
  background: white;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 20px 0;
  align-items: center;
  display: flex;
  z-index: 1;
  position: relative;
  overflow: visible;
}

.drop-down .p-dropdown-label {
  color: rgb(255, 255, 255); /* Color for the placeholder */
  align-items: start;
  text-align: left ;
  padding: 2px;
  font-size: 17px;

}

.drop-down .p-dropdown-items {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;

}

.drop-down .p-dropdown-item:hover {
  background-color: rgba(255, 255, 255, 1);
  color: white;
}

.drop-down .p-dropdown-panel {
  background-color: #f9f9f9 ;
  z-index: 1 ;
}
.register-wrapper .drop-down .p-dropdown-open {
  background-color: #ed1212;

}

.input-box input {
  width: calc(100% - 40px); /* Adjust input width for icon */
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 20px 20px 40px; /* Adjust padding for smaller screens */
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

.input-box input::placeholder {
  color: #fff;
}

.input-box .icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%) translateX(-5px); /* add this line */
  font-size: 16px;
}

.register-wrapper button {
  width: 100%;
  height: 45px;
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  margin-top: 20px; /* Adjust margin for smaller screens */
}

.register-wrapper .register-link {
  font-size: 16px;
  text-align: center;
  margin: 20px 0;
}

.register-link p a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
  .wrapper {
    padding: 20px;
  }

  .input-box input {
    padding: 15px 15px 15px 40px;
  }
}
